body {
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin: 0 auto;
  text-align: left;
  width: 900px;
  font-size: small;
}


.errorMessage {
  color: red;
}

.dateClass {
  color:gray;
  font-size:smaller;
}

.noUnderLine
{
  text-decoration: none;
  cursor: pointer;
}
